.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body {
        font-family: Roboto, sans-serif;
        background:#FFFFFF;
        color:#434455 ;
        font-weight: 400;
        }

a {text-decoration: none;}
        /* Top line  contacts*/
    /* logo */
    
.header {
    border-bottom: 1px solid #e7e9fc;
        width: 1440px;
        height: 72px;
        align-items: center;
}
.header-container { display: flex;
    align-items: center;}
.novigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    
}
.logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        margin-right: 76px;
}
.address-list {
    display: flex;
    gap: 40px;
   
}
    .studio {
         font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        font-family: "Raleway", sans-serif
    }


.address {
    font-style: normal;
    margin-left: auto;
}
   

.link {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display:block;
}
.link:hover { color: #404bbf;}
.link:focus { color: #404bbf}
.link:active { color: #404BBF; }
.info {color: #434455;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
}
.info:hover { color: #404BBF;
}
.info:focus {
    color: #404bbf;
}

/* hero images 1*/

.hero-images {background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    }

.button-link {
background: #2e2f42;
color: #FFFFFF;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em
} 

/* Button */
.button:hover {
    background: #404BBF;
    color: #FFFFFF;}
    .button {
    cursor: pointer;
    background: #4d5ae5;
    margin-top: 48px;
    margin-right: 635px;
    margin-bottom: 188px;
    margin-left: 636px;
    height: 56px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
}
.button:focus { background-color: #404BBF }
/* h1 */
.title {
    font-weight: 700;
    font-size: 56px;
    color: #fff;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    list-style-type: none;
    padding-top: 188px;
    margin-right: 472px;
    margin-bottom: 48px;
    margin-left: 472px;
    height: 120px;
    width: 496px;
    padding-bottom: 48px; 
    max-width: 496px

}

    /* section 3 our-team */

.our-team-all {background: #f4f4fd;
margin-top: 120px;}


/* section 2 main information */

.main-info-section {
    background-color: #FFFFFF;
margin-top: 120px;
margin-right: 156px;
margin-bottom: 120px;
margin-left: 156x;
height: 104px;}

.section-two-list { display: flex
}

/* h2 */
.name-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    list-style-type: none;
}
/*  */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card-boxes-our-portfolio {
   
    display: flex;
    list-style: none ;
    gap: 24px;

}

/* li */
.list-main {
    background-color: #FFFFFF;
    list-style-type: none;
    padding-left: 0; 
height: 104;
display: inline-block;
box-sizing: border-box;
gap: 24px;}


/* h3 */
.name-main-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-align: center;
}
/* p */
.link-section-second {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    
}
.card-image {
    display: block;
    border-bottom: 1px solid #e7e9fc;
     }

.our-portfolio-list {

        box-sizing: border-box;
        gap: 24px;
      flexbox ;
    }


.our-team-card {
    display: inline-block;
    gap: 24px;
}
.link-card { gap:24px}
.our-team-h {
   text-align: center;
   margin: 0 auto;
   padding-bottom: 72px;
   padding-top: 120px;
   margin-top: 120px;

}

.footer {background: #2e2f42;}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em
}
.web-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}

.logo-container {
    padding-top: 100px;
    padding-right: 1020px;
    padding-bottom: 100px;
    padding-right: 156px;
   
}

.section {
    padding-top: 120;
    padding-bottom: 120;
}       
.container {
    max-width: 1158px;
    padding: 0 15px;
   margin: 0 auto;
}
.header-container {
display: flex;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

